.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}















.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 1.00%, rgba(0, 0, 0, 0.2) 50.00%, rgba(0, 0, 0, 0.8) 100.00%);
}

.home-header {
  width: 1901px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.home-text {
  position: absolute;
  left: 150px;
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.home-nav {
  display: flex;
}

.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-login {
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  background-color: transparent;
}

.home-register {
  border-width: 0px;
  background-color: transparent;
}

.home-burger-menu {
  display: none;
}

.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.home-image {
  height: 2rem;
}

.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.home-container2 {
  top: 150px;
  left: 566px;
  width: 427px;
  height: 560px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  border-radius: 20px;
  flex-direction: column;
}

.home-text1 {
  top: 16px;
  left: 163px;
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-family: "Noto Sans";
}

.home-container3 {
  top: 92px;
  left: 33px;
  width: 355px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.home-text2 {
  top: 0px;
  left: 0px;
  position: absolute;
  font-size: 20px;
  font-family: "Noto Sans";
}

.home-textinput {
  top: 36px;
  left: 2px;
  width: 353px;
  height: 44px;
  position: absolute;
  background-color: transparent;
}

.home-container4 {
  top: 222px;
  left: 36px;
  width: 355px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.home-text3 {
  top: 0px;
  left: 0px;
  position: absolute;
  font-size: 20px;
  font-family: "Noto Sans";
}

.home-textinput1 {
  top: 36px;
  left: 2px;
  width: 353px;
  height: 44px;
  position: absolute;
  background-color: transparent;
}

.home-button {
  top: 373px;
  left: 42px;
  position: absolute;
  background-color: transparent;
}

.home-btn-group a{
  text-decoration: none;
}